body {
    background-image: url(../Imagem/Torre\ de\ Pisa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}
nav .container-menu-titulo {
    font-size: 25px;
    background-color: transparent;
    padding: 1%;
    width: 100%;
    margin-top: -2.5%;
    margin-left: -1%;
    left: 1%;
    color: #ffca37;
    
}

.container {
    max-width: 2400px;
    padding: 1%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


 nav ul {
    list-style: none;
    display: flex;
}
nav ul li  {
    display: contents;
}

nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    color:#ffca37;
    border-radius: 35px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color:#aac8f175;
    text-decoration: none;
}
/* #699ae4 /*
/* #5d7599 /*
/* #aac7f1 /*