body {
    background-color: black;
    overflow: hidden;
}

main .pag {
    display: none;
    height: 100vh;
}

main .pag.selecionada {
    display: block;
}


/* Setas */

.seta {
    position: fixed;
    top: 50%;
    font-size: 5em;
    color: rgba(255, 255, 255, 0.7); /* Branco semitransparente */
    text-decoration: none;
    z-index: 1000;
    transform: translateY(-50%);
    transition: opacity 0.3s;
}
        
.seta-esquerda {
    left: 20px;
}
        
.seta-direita {
    right: 20px;
}

.seta-escondida {
    opacity: 0;
    pointer-events: none;
}

.seta:hover {
color: rgba(255, 255, 255, 1);
}

/* Texto */

.conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cor de fundo suave */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  
.pags {
    text-align: center;
}
  
h1 {
    font-size: 4rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave */
}
  
  p {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
    
  }

